header {
    background-color: black;
}

.bi {
    width: 80px;
    height: 80px;
    margin: 10px;
}

.navbar-collapse {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar-nav {
    display: flex;
    justify-content: center;
    align-items: center;
}

#buttons {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

@media (max-width: 991.98px) {
    #buttons {
        margin-left: 0;
        justify-content: center;
        width: 100%;
    }
}

#login {
    border: solid #5934e1 2px;
    color: white;
    margin-right: 8px;
    transition: all 0.3s;
}

#signup {
    background-color: #5934e1;
    color: white;
    transition: all 0.3s;
}

#login:hover {
    background-color: #5934e1;
    border-color: transparent;
    color: white;
}

#signup:hover {
    background-color: transparent;
    border-color: #5934e1;
    color: white;
}

#principal {
    flex: 2;
    font-family: "Eczar", serif;
    font-weight: 400;
    color: #5934e1;
    font-size: 30px;
    letter-spacing: 5px;
    transition: all 0.4s;
    position: relative;
}

#principal:hover {
    transform: scale(1.05);
}

#principal::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 5px;
    width: 100%;
    height: 2px;
    background-color: #5934e1;
    transition: all 0.3s;
    transform: scaleX(0);
    transform-origin: bottom left right;
}

#principal:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.navbar-nav .nav-item .nav-link {
    color: white;
    text-align: center;
    margin: 10px;
    transition: all 0.3s;
}

.navbar-nav .nav-item .nav-link:hover {
    color: #5934e1;
    transform: scale(1.05);
}

.navbar-nav .nav-item .nav-link::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 5px;
    width: 100%;
    height: 2px;
    background-color: #5934e1;
    transition: all 0.3s;
    transform: scaleX(0);
    transform-origin: bottom left right;
}

.navbar-nav .nav-item .nav-link:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.btn_masinfo {
    background: none;
    border: none;
}

.btn_masinfo:hover {
    background: none;
    border: none;
    color: #5934e1;
}